footer.footer
  .container
    .grid.algCenter
      .col-lg-4.col-xs-12
        ul
          li
            a(href="#" target="_blank" title="AVISO DE PRIVACIDAD") AVISO DE PRIVACIDAD
          li
            a(href="#" target="_blank" title="CONTACTO") CONTACTO
      .col-lg-4.col-xs-12
        a(href="index.html" title="").sochi
      .col-lg-4.col-xs-12
        .redesSociales
          a(href="#" target="_blank").fab.fa-facebook-square
          a(href="#" target="_blank").fab.fa-instagram
          a(href="#a" target="_blank").fab.fa-youtube

  include scripts