- var urlSitio = "";
- var infomezclabilidad = [{url:'conejada', img:'conejada'}, {url:'orejas-de-conejo', img:'orejas-de-conejo'}, {url:'pata-de-conejo', img:'pata-de-conejo'}, {url:'rabo-verde', img:'rabo-verde'}];
- var infosales = [{url:'tradicional', img:'conejada'}, {url:'jamaica', img:'conejada'}, {url:'citrica', img:'conejada'}, {url:'cacao', img:'conejada'},{url:'pina', img:'conejada'},{url:'himalaya', img:'conejada'}];
//- - var infosales = [{url:'orejas-de-conejo', img:'orejas-de-conejo'}, {url:'pata-de-conejo', img:'pata-de-conejo'}];
- var infopaginador = [{clase:'disabled prev', nombre:''}, {clase:'active', nombre:'1'}, {clase:'waves-effect', nombre:'2'}, {clase:'waves-effect', nombre:'3'}, {clase:'waves-effect', nombre:'4'}, {clase:'waves-effect', nombre:'...'}, {clase:'waves-effect', nombre:'52'}, {clase:'waves-effect next', nombre:''}];
- var infologos = [{img:'comercial'}, {img:'soriana'}, {img:'chedraui'}, {img:'fresko'}, {img:'heb'}, {img:'walmart'}]