@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  -webkit-transition: font-size 0.2s;
  -moz-transition: font-size 0.2s;
  -ms-transition: font-size 0.2s;
  transition: font-size 0.2s;
  -webkit-font-smoothing: antialiased;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html.base1 {
  font-size: 17px;
}
html.base2 {
  font-size: 18px;
}
html.base3 {
  font-size: 19px;
}

html, body {
  position: relative;
  width: 100%;
}

body {
  -webkit-overflow-scrolling: touch;
  display: block;
  background: #000000;
  line-height: 1.45;
  margin: auto;
  max-width: 2560px;
  padding: 0px;
  position: relative;
  width: 100%;
}
body > iframe {
  position: absolute;
}
body.hidden {
  overflow: hidden;
}

h1 {
  color: #ffffff;
  font-size: 2.4375rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 1.25rem 0px;
}
h1 strong {
  font-weight: 700;
}

h2 {
  color: #ffffff;
  font-size: 1.9375rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 1.25rem 0px;
}
h2 strong {
  font-weight: 700;
}

h3 {
  color: #ffffff;
  font-size: 1.5625rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 1.25rem 0px;
}
h3 strong {
  font-weight: 700;
}

h4 {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 1.25rem 0px;
}
h4 strong {
  font-weight: 700;
}

h5 {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 1.25rem 0px;
}
h5 strong {
  font-weight: 700;
}

h6 {
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 1.25rem 0px;
}
h6 strong {
  font-weight: 700;
}

p {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 1.25rem 0px;
}
p strong {
  font-weight: 700;
}

a {
  word-break: break-all;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

img {
  display: block;
  margin: 1.25rem 0px;
  max-width: 100%;
}

small {
  font-size: smaller;
}

pre {
  color: #ffffff;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 1.25rem;
  white-space: pre-line;
}

blockquote {
  margin: 1.25rem 0px;
  padding-left: 1rem;
  border-left: 4px solid #ffffff;
}

figure {
  display: table;
  margin: 1.25rem auto;
}
figure.right, figure.left {
  margin: 1.25rem;
}
figure img {
  margin: 0px;
}

table:not(.datepicker-table) {
  border: 1px solid #ffffff;
  overflow: auto;
  margin: 1.25rem 0px;
}
table:not(.datepicker-table) thead {
  color: #ffffff;
}
table:not(.datepicker-table) td, table:not(.datepicker-table) th {
  border: 1px solid #ffffff;
  padding: 8px;
}
table:not(.datepicker-table) td {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 1.25rem 0px;
  vertical-align: top;
}
table:not(.datepicker-table) tr:nth-child(even) {
  background: #ffffff;
}
table:not(.datepicker-table) h1, table:not(.datepicker-table) h2, table:not(.datepicker-table) h3, table:not(.datepicker-table) h4, table:not(.datepicker-table) h5, table:not(.datepicker-table) h6, table:not(.datepicker-table) p {
  margin: 0px;
  padding: 1.25rem;
}

header {
  max-width: 2560px;
  width: 100%;
}
header.fixed {
  position: fixed;
  top: 0px;
  z-index: 99;
}

main {
  margin: auto;
  margin-top: 4.375rem;
  min-height: calc(100vh - 4.375rem);
  position: relative;
  width: 100%;
}

section {
  max-width: 2560px;
  width: 100%;
}

button {
  background: none;
  border: none;
  padding: 0px;
}
button:focus {
  background-color: none;
}

footer {
  max-width: 2560px;
  width: 100%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.32813rem;
}

sub {
  bottom: -0.16406rem;
}

hr {
  clear: both;
  margin: 1.25rem auto 0px;
  width: 100%;
}

.marBot1 {
  margin-bottom: 1.25rem;
}

.marTop1 {
  margin-top: 1.25rem;
}

.padBot1 {
  padding-bottom: 1.25rem;
}

.padTop1 {
  padding-top: 1.25rem;
}

.rmvPad {
  padding: 0px !important;
}

.rmvMar {
  margin: 0px !important;
}

.algText {
  text-align: center;
}

.textWhite {
  color: #ffffff;
}

.black {
  background: #000000;
}

.contenScroll {
  overflow: auto;
  height: 100vh;
  width: 100%;
}

.container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  max-width: 1440px;
  overflow: hidden;
  padding: 0px 15px;
  position: relative;
  width: 100%;
}

.contenedor {
  height: 100%;
  margin: auto;
  max-width: 1500px;
  width: 100%;
}

.grid {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  webkit-display: -webkit-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-box-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
.grid.algCenter {
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}
.grid.algCenter.algTop {
  align-items: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
}
.grid.algCenter.algBottom {
  align-items: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
}
.grid.algTop {
  align-items: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
}
.grid.algBottom {
  align-items: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
}
.grid.algLeft {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -ms-flex-pack: start;
}
.grid.algRight {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  -ms-flex-pack: end;
}
.grid.jusCenter {
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
}
.grid.jusCenter.algLeft {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -ms-flex-pack: start;
}
.grid.jusCenter.algRight {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  -ms-flex-pack: end;
}
.grid.jusReverse {
  flex-direction: row-reverse;
  -webkit-box-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  -webkit-box-wrap: wrap-reverse;
  -webkit-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
}
.grid.jusReverse .col-lg-1.rmvPadL,
.grid.jusReverse .col-lg-2.rmvPadL,
.grid.jusReverse .col-lg-3.rmvPadL,
.grid.jusReverse .col-lg-4.rmvPadL,
.grid.jusReverse .col-lg-5.rmvPadL,
.grid.jusReverse .col-lg-6.rmvPadL,
.grid.jusReverse .col-lg-7.rmvPadL,
.grid.jusReverse .col-lg-8.rmvPadL,
.grid.jusReverse .col-lg-9.rmvPadL,
.grid.jusReverse .col-lg-10.rmvPadL,
.grid.jusReverse .col-lg-11.rmvPadL,
.grid.jusReverse .col-lg-12.rmvPadL {
  padding-right: 0px;
  padding-left: 0.5rem;
}
.grid.jusReverse .col-lg-1.rmvPadR,
.grid.jusReverse .col-lg-2.rmvPadR,
.grid.jusReverse .col-lg-3.rmvPadR,
.grid.jusReverse .col-lg-4.rmvPadR,
.grid.jusReverse .col-lg-5.rmvPadR,
.grid.jusReverse .col-lg-6.rmvPadR,
.grid.jusReverse .col-lg-7.rmvPadR,
.grid.jusReverse .col-lg-8.rmvPadR,
.grid.jusReverse .col-lg-9.rmvPadR,
.grid.jusReverse .col-lg-10.rmvPadR,
.grid.jusReverse .col-lg-11.rmvPadR,
.grid.jusReverse .col-lg-12.rmvPadR {
  padding-left: 0px;
  padding-right: 0.5rem;
}
.grid .col-lg-1,
.grid .col-lg-2,
.grid .col-lg-3,
.grid .col-lg-4,
.grid .col-lg-5,
.grid .col-lg-6,
.grid .col-lg-7,
.grid .col-lg-8,
.grid .col-lg-9,
.grid .col-lg-10,
.grid .col-lg-11,
.grid .col-lg-12 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  width: 100%;
  position: relative;
}
.grid .col-lg-1.rmvPadL,
.grid .col-lg-2.rmvPadL,
.grid .col-lg-3.rmvPadL,
.grid .col-lg-4.rmvPadL,
.grid .col-lg-5.rmvPadL,
.grid .col-lg-6.rmvPadL,
.grid .col-lg-7.rmvPadL,
.grid .col-lg-8.rmvPadL,
.grid .col-lg-9.rmvPadL,
.grid .col-lg-10.rmvPadL,
.grid .col-lg-11.rmvPadL,
.grid .col-lg-12.rmvPadL {
  padding-left: 0px;
}
.grid .col-lg-1.rmvPadR,
.grid .col-lg-2.rmvPadR,
.grid .col-lg-3.rmvPadR,
.grid .col-lg-4.rmvPadR,
.grid .col-lg-5.rmvPadR,
.grid .col-lg-6.rmvPadR,
.grid .col-lg-7.rmvPadR,
.grid .col-lg-8.rmvPadR,
.grid .col-lg-9.rmvPadR,
.grid .col-lg-10.rmvPadR,
.grid .col-lg-11.rmvPadR,
.grid .col-lg-12.rmvPadR {
  padding-right: 0px;
}
.grid .col-lg-1 {
  max-width: 8.33333%;
}
.grid .col-lg-2 {
  max-width: 16.66667%;
}
.grid .col-lg-3 {
  max-width: 25%;
}
.grid .col-lg-4 {
  max-width: 33.33333%;
}
.grid .col-lg-5 {
  max-width: 41.66667%;
}
.grid .col-lg-6 {
  max-width: 50%;
}
.grid .col-lg-7 {
  max-width: 58.33333%;
}
.grid .col-lg-8 {
  max-width: 66.66667%;
}
.grid .col-lg-9 {
  max-width: 75%;
}
.grid .col-lg-10 {
  max-width: 83.33333%;
}
.grid .col-lg-11 {
  max-width: 91.66667%;
}
.grid .col-lg-12 {
  max-width: 100%;
}

.botones {
  display: table;
  margin: auto;
}
.botones .boton {
  display: inline-block;
  margin: 1.25rem 0.5rem;
  min-width: auto;
}

.boton {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 70px;
  border: 1px solid #2E2E2E;
  clear: both;
  color: #2E2E2E;
  cursor: pointer;
  display: table;
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 1.25rem auto;
  min-width: 120px;
  padding: 10px 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.boton:hover {
  background: #EC145A;
  border: 1px solid #EC145A;
  color: #FFFFFF;
}
.boton.secundario {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}
.boton.secundario:hover {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  color: #EC145A;
}
.boton.disabled {
  cursor: default;
}
.boton.disabled:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.boton.right {
  margin: 1.25rem 0px;
}
.boton.left {
  margin: 1.25rem 0px;
}

.compartir {
  clear: both;
  display: table;
  margin: 1.25rem -0.5rem;
}
.compartir span, .compartir a {
  color: #FFFFFF;
  display: inline-block;
  margin: 0px 0.5rem;
  font-size: 1rem;
}
.compartir.right {
  margin: 0px -0.5rem;
}
.compartir.left {
  margin: 0px -0.5rem;
}

.feedRedes {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  webkit-display: -webkit-flex;
  display: -webkit-flex;
  display: flex;
  margin: 0px -0.5rem;
}
.feedRedes .feed {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: inherit;
  padding: 0px 0.5rem;
  width: 100%;
}

.feed {
  margin: 2rem auto;
  overflow: hidden;
  display: block;
  max-width: 340px;
}
.feed:hover i {
  color: #EC145A;
}
.feed:hover .multimedia img {
  opacity: 1;
  -webkit-transform: scale(1.08, 1.08);
  -moz-transform: scale(1.08, 1.08);
  -ms-transform: scale(1.08, 1.08);
  transform: scale(1.08, 1.08);
}
.feed i {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  color: #555555;
  display: table;
  font-size: 3rem;
  margin: 0px auto 2rem;
}
.feed p {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  color: #555555;
  font-size: 1.25rem;
  text-align: center;
}
.feed .multimedia {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  background: #000000;
}
.feed .multimedia img {
  opacity: 0.25;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  webkit-display: -webkit-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-box-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.full {
  margin-bottom: 1.625rem;
}
.full.algCenter .contInfo {
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}
.full.algCenter.algTop .contInfo {
  align-items: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
}
.full.algCenter.algBottom .contInfo {
  align-items: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
}
.full.algTop .contInfo {
  align-items: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
}
.full.algBottom .contInfo {
  align-items: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
}
.full.algLeft .contInfo {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -ms-flex-pack: start;
}
.full.algLeft .contInfo .info {
  width: 50%;
}
.full.algRight .contInfo {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  -ms-flex-pack: end;
}
.full.algRight .contInfo .info {
  width: 50%;
}
.full.jusCenter .contInfo {
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
}
.full.jusCenter .contInfo .info {
  text-align: center;
}
.full.jusCenter .contInfo .info .boton, .full.jusCenter .contInfo .info .link {
  margin: 1.25rem auto;
  float: none !important;
}
.full.jusCenter.algLeft .contInfo {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -ms-flex-pack: start;
}
.full.jusCenter.algRight .contInfo {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  -ms-flex-pack: end;
}
.full.textWhite h1, .full.textWhite h2, .full.textWhite h3, .full.textWhite h4, .full.textWhite p {
  color: #FFFFFF;
}
.full.textWhite h1 + p, .full.textWhite h2 + p, .full.textWhite h3 + p, .full.textWhite h4 + p, .full.textWhite p + p {
  color: #FFFFFF;
  font-weight: 400;
}
.full.textWhite h1 + p.linea:after, .full.textWhite h2 + p.linea:after, .full.textWhite h3 + p.linea:after, .full.textWhite h4 + p.linea:after, .full.textWhite p + p.linea:after {
  color: #FFFFFF;
}
.full .contInfo {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  webkit-display: -webkit-flex;
  display: -webkit-flex;
  display: flex;
  padding: 1rem 5rem;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0px;
  width: calc(100% - 1rem);
  pointer-events: none;
}
.full .contInfo .info {
  pointer-events: auto;
  max-width: 700px;
  width: 100%;
}
.full .multimedia {
  height: 100%;
  min-height: 650px;
}

.gridApps {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  webkit-display: -webkit-flex;
  display: -webkit-flex;
  display: flex;
  margin: 2rem auto;
}
.gridApps .multimedia {
  position: relative;
  min-height: 500px;
  width: 100%;
}
.gridApps .multimedia i {
  background: #EC145A;
  display: none;
  height: 100%;
  left: 0px;
  mix-blend-mode: overlay;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 2;
}
.gridApps .multimedia:hover > img {
  -webkit-transform: scale(1.08, 1.08);
  -moz-transform: scale(1.08, 1.08);
  -ms-transform: scale(1.08, 1.08);
  transform: scale(1.08, 1.08);
}
.gridApps .multimedia > img {
  -moz-filter: grayscale(1) opacity(100%) brightness(50%);
  -ms-filter: grayscale(1) opacity(100%) brightness(50%);
  -o-filter: grayscale(1) opacity(100%) brightness(50%);
  -webkit-filter: grayscale(1) opacity(100%) brightness(50%);
  filter: grayscale(1) opacity(100%) brightness(50%);
}
.gridApps .logo {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 3;
}

.claro {
  background: url(img/logo-claro-sports.png) no-repeat center;
  background-size: contain;
  display: table;
  height: 3.125rem;
  margin: 0.625rem 0px;
  width: 7.9375rem;
}

.sochi {
  background: url(img/logo-sochi-color.png) no-repeat center;
  background-size: contain;
  display: table;
  height: 3.125rem;
  margin: 0.625rem 0px;
  width: 7.9375rem;
}

.logotipos {
  display: table;
  margin: 0.625rem auto;
}
.logotipos img {
  margin: 0px;
  height: 100px;
}

.multimedia {
  overflow: hidden;
}
.multimedia img, .multimedia video {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  display: block;
  width: 100%;
}
.multimedia img {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  margin: 0;
}
.multimedia a {
  display: block;
  height: 100%;
  overflow: hidden;
}

.circulo {
  text-align: center;
}
.circulo .img {
  border-radius: 50%;
  display: block;
  margin: auto;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  width: 227px;
  cursor: pointer;
}
.circulo .img:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.circulo .img:hover img {
  -webkit-transform: translate(-50%, -50%) scale(1.08, 1.08);
  -moz-transform: translate(-50%, -50%) scale(1.08, 1.08);
  -ms-transform: translate(-50%, -50%) scale(1.08, 1.08);
  transform: translate(-50%, -50%) scale(1.08, 1.08);
}
.circulo .img.activo .texto {
  opacity: 1;
}
.circulo .img img {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  transition: transform 0.5s;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  height: 100%;
  margin: 0px;
  width: 100%;
}
.circulo .img .texto {
  background: red;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  webkit-display: -webkit-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  height: 100%;
  margin: 0px;
  width: 100%;
  opacity: 0;
}
.circulo .img .texto p {
  padding: 0px 2rem;
  margin: 0px;
}
.circulo h3 {
  margin-bottom: 0.5rem;
}
.circulo p {
  margin-top: 0px;
}

.redesSociales {
  clear: both;
  display: table;
  margin: 1.25rem -0.5rem;
}
.redesSociales a {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  color: #FFFFFF;
  display: inline-block;
  margin: 0px 0.5rem;
  font-size: 1.875rem;
}
.redesSociales a:hover {
  -webkit-transform: scale(1.18, 1.18);
  -moz-transform: scale(1.18, 1.18);
  -ms-transform: scale(1.18, 1.18);
  transform: scale(1.18, 1.18);
}
.redesSociales.right {
  margin: 0px -0.5rem;
}
.redesSociales.left {
  margin: 0px -0.5rem;
}

.video {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #EC145A;
  display: table;
  margin: 1.25rem auto;
  overflow: hidden;
  position: relative;
}
.video .img {
  display: block;
  overflow: hidden;
  cursor: pointer;
}
.video .img:before {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  content: "";
  font-family: "icomoon";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
  color: #EC145A;
  font-size: 8.5rem;
}
.video .img:hover:before {
  font-size: 9rem;
}
.video .img > img {
  display: block;
  max-width: 100%;
  margin: 0px;
}
.video > video {
  display: none;
  max-width: 100%;
}
.video > iframe {
  max-width: 100%;
}

.footer {
  padding: 1rem 0px;
}
.footer ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  webkit-display: -webkit-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
}
.footer ul li {
  font-size: 0.8125rem;
  font-weight: 800;
  letter-spacing: 0.5px;
}
.footer ul li:last-of-type a:after {
  display: none;
}
.footer ul li a {
  font-weight: 800;
  letter-spacing: 0.5px;
}
.footer ul li a:after {
  content: "|";
  margin: 0px 0.5rem;
}
.footer .sochi {
  margin: auto;
}
.footer .redesSociales {
  margin-left: auto;
}

.header {
  -webkit-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18), 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18), 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18), 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18), 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18), 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background: #000000;
  position: relative;
  border-bottom: 5px solid #e4210b;
}
.header .menu {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  webkit-display: -webkit-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  -ms-flex-pack: justify;
}

.sports {
  background: #232323;
  border-bottom: 5px solid #353535;
  padding: 3rem 0px;
}

.cover {
  background: url(img/background.jpg) no-repeat center top;
  background-size: cover;
}
.cover h2 {
  text-align: center;
}
.cover .cronometro {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  webkit-display: -webkit-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
}
.cover .cronometro > div {
  border: 2px solid #ffffff;
  margin: 1rem 0.5rem;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  webkit-display: -webkit-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  flex-direction: column;
  -webkit-box-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
}
.cover .cronometro > div p, .cover .cronometro > div span {
  margin: 0px;
}
.cover .promo {
  margin: 3rem auto;
  max-width: 650px;
}
.cover .promo .multimedia {
  height: 450px;
}

@-moz-document url-prefix() {}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  html {
    font-size: 14px;
  }
  html.base1 {
    font-size: 15px;
  }
  html.base2 {
    font-size: 16px;
  }
  html.base3 {
    font-size: 17px;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1024px) {
  html {
    font-size: 13px;
  }
  html.base1 {
    font-size: 14px;
  }
  html.base2 {
    font-size: 15px;
  }
  html.base3 {
    font-size: 16px;
  }

  .container {
    max-width: 1024px !important;
  }

  .grid .col-md-1 {
    max-width: 8.33333%;
  }
  .grid .col-md-2 {
    max-width: 16.66667%;
  }
  .grid .col-md-3 {
    max-width: 25%;
  }
  .grid .col-md-4 {
    max-width: 33.33333%;
  }
  .grid .col-md-5 {
    max-width: 41.66667%;
  }
  .grid .col-md-6 {
    max-width: 50%;
  }
  .grid .col-md-7 {
    max-width: 58.33333%;
  }
  .grid .col-md-8 {
    max-width: 66.66667%;
  }
  .grid .col-md-9 {
    max-width: 75%;
  }
  .grid .col-md-10 {
    max-width: 83.33333%;
  }
  .grid .col-md-11 {
    max-width: 91.66667%;
  }
  .grid .col-md-12 {
    max-width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  html {
    font-size: 11px;
  }
  html.base1 {
    font-size: 12px;
  }
  html.base2 {
    font-size: 13px;
  }
  html.base3 {
    font-size: 14px;
  }

  .container {
    max-width: 959px !important;
  }

  .grid .col-sm-1 {
    max-width: 8.33333%;
  }
  .grid .col-sm-2 {
    max-width: 16.66667%;
  }
  .grid .col-sm-3 {
    max-width: 25%;
  }
  .grid .col-sm-4 {
    max-width: 33.33333%;
  }
  .grid .col-sm-5 {
    max-width: 41.66667%;
  }
  .grid .col-sm-6 {
    max-width: 50%;
  }
  .grid .col-sm-7 {
    max-width: 58.33333%;
  }
  .grid .col-sm-8 {
    max-width: 66.66667%;
  }
  .grid .col-sm-9 {
    max-width: 75%;
  }
  .grid .col-sm-10 {
    max-width: 83.33333%;
  }
  .grid .col-sm-11 {
    max-width: 91.66667%;
  }
  .grid .col-sm-12 {
    max-width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  html {
    font-size: 16px;
  }

  body {
    height: 100vh;
  }

  h1 {
    font-size: 3.125rem;
  }

  h2 {
    font-size: 1.875rem;
  }

  .rmvMar {
    margin: 0px auto !important;
  }

  .container {
    margin: auto;
    max-width: 767px !important;
    padding: 0px 20px;
    width: 100%;
  }

  .grid.jusReverse .col-lg-1.rmvPadL,
  .grid.jusReverse .col-lg-2.rmvPadL,
  .grid.jusReverse .col-lg-3.rmvPadL,
  .grid.jusReverse .col-lg-4.rmvPadL,
  .grid.jusReverse .col-lg-5.rmvPadL,
  .grid.jusReverse .col-lg-6.rmvPadL,
  .grid.jusReverse .col-lg-7.rmvPadL,
  .grid.jusReverse .col-lg-8.rmvPadL,
  .grid.jusReverse .col-lg-9.rmvPadL,
  .grid.jusReverse .col-lg-10.rmvPadL,
  .grid.jusReverse .col-lg-11.rmvPadL,
  .grid.jusReverse .col-lg-12.rmvPadL {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .grid.jusReverse .col-lg-1.rmvPadR,
  .grid.jusReverse .col-lg-2.rmvPadR,
  .grid.jusReverse .col-lg-3.rmvPadR,
  .grid.jusReverse .col-lg-4.rmvPadR,
  .grid.jusReverse .col-lg-5.rmvPadR,
  .grid.jusReverse .col-lg-6.rmvPadR,
  .grid.jusReverse .col-lg-7.rmvPadR,
  .grid.jusReverse .col-lg-8.rmvPadR,
  .grid.jusReverse .col-lg-9.rmvPadR,
  .grid.jusReverse .col-lg-10.rmvPadR,
  .grid.jusReverse .col-lg-11.rmvPadR,
  .grid.jusReverse .col-lg-12.rmvPadR {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .grid .col-lg-1.rmvPadL,
  .grid .col-lg-2.rmvPadL,
  .grid .col-lg-3.rmvPadL,
  .grid .col-lg-4.rmvPadL,
  .grid .col-lg-5.rmvPadL,
  .grid .col-lg-6.rmvPadL,
  .grid .col-lg-7.rmvPadL,
  .grid .col-lg-8.rmvPadL,
  .grid .col-lg-9.rmvPadL,
  .grid .col-lg-10.rmvPadL,
  .grid .col-lg-11.rmvPadL,
  .grid .col-lg-12.rmvPadL {
    padding-left: 0.5rem;
  }
  .grid .col-lg-1.rmvPadR,
  .grid .col-lg-2.rmvPadR,
  .grid .col-lg-3.rmvPadR,
  .grid .col-lg-4.rmvPadR,
  .grid .col-lg-5.rmvPadR,
  .grid .col-lg-6.rmvPadR,
  .grid .col-lg-7.rmvPadR,
  .grid .col-lg-8.rmvPadR,
  .grid .col-lg-9.rmvPadR,
  .grid .col-lg-10.rmvPadR,
  .grid .col-lg-11.rmvPadR,
  .grid .col-lg-12.rmvPadR {
    padding-right: 0.5rem;
  }
  .grid .col-xs-1 {
    max-width: 8.33333%;
  }
  .grid .col-xs-2 {
    max-width: 16.66667%;
  }
  .grid .col-xs-3 {
    max-width: 25%;
  }
  .grid .col-xs-4 {
    max-width: 33.33333%;
  }
  .grid .col-xs-5 {
    max-width: 41.66667%;
  }
  .grid .col-xs-6 {
    max-width: 50%;
  }
  .grid .col-xs-7 {
    max-width: 58.33333%;
  }
  .grid .col-xs-8 {
    max-width: 66.66667%;
  }
  .grid .col-xs-9 {
    max-width: 75%;
  }
  .grid .col-xs-10 {
    max-width: 83.33333%;
  }
  .grid .col-xs-11 {
    max-width: 91.66667%;
  }
  .grid .col-xs-12 {
    max-width: 100%;
  }

  .feedRedes {
    flex-wrap: wrap;
    -webkit-box-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
  }

  .full.algLeft .contInfo .info, .full.algRight .contInfo .info {
    width: 100%;
  }
  .full .contInfo {
    padding: 1rem;
  }
  .full .contInfo img {
    margin: 1.25rem auto;
  }

  .gridApps {
    flex-direction: column;
    -webkit-box-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
  }
  .gridApps .multimedia {
    min-height: inherit;
  }

  .logotipo {
    margin: 1.25rem 0px;
  }

  .flex {
    flex-direction: column;
    -webkit-box-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
  }

  .footer ul {
    display: block;
    margin-bottom: 1rem;
  }
  .footer ul li {
    text-align: center;
    padding: 0.5rem 0px;
  }
  .footer ul li a:after {
    display: none;
  }
  .footer .redesSociales {
    margin: 2rem auto;
  }
}
